img {
  height: 25px;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
}

.header {
  height: 30px;
  background-color: #3c3c3c;
  z-index: 10;
  top: 0;
}

.header .inner {
  margin: 0 auto;
  position: relative;
  height: 30px;
  width: 100%;
}

.header .logo {
  left: 10px;
  top: 2px;
  margin: auto;
  position: absolute;
}

.header .logo img{
  width: 18px;
}

/* 헤더 메뉴 */
.header .sub-menu {
  display: flex;
  position: absolute;
  left: 40px;
  top: 4px;
}

.header .sub-menu ul.menu{
  display: flex;
  margin: auto;
}
/* a 태그 쓰기전 글색깔 */
.header .sub-menu ul.menu li{
  position: relative;

}
.header .sub-menu ul.menu li a{
  display: block;
  color: #CCC;
  font-size: 14px;
  padding: 3px 8px;
  margin-top: 0;
}

.header .sub-menu ul.menu li a:hover{
  background-color: #454646;
  border-radius: 4px;
  cursor: pointer;
}

.header .inner .title {
  color: #CCC;
  position: absolute;
  padding-top: 7px;
  width: 400px;
  font-size: 14px;
  right: 40%;
}
.header .inner .title .title__{
  font-size: 13px;
  text-align: center;
}
.header .inner .icons .media-icon{
  color: #CCC;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 140px;
  margin: auto;
  transition: 0.4s;
}
.header .inner .icons .window{
  color: #CCC;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
}

.header .inner .icons .media-icon .material-icons{
  font-size: 18px;
  margin: 0 2px;
}
.header .inner .icons .window .material-icons{
  padding: 0 13px;
  font-size: 16px;
}

