.sidebar{
  position: absolute;
  background-color: #333;
  height: 917px;
  width: 100%;
  display: flex;
}
.sidebar .main_side{
  width: 50px;
}

.sidebar .main_side .material-icons{
  font-size: 25px;
  margin: 0 2px;
  color: #848484;
}

.sidebar .main_side ul.menu{
  margin: auto;
}

.sidebar .main_side ul.menu li{
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

.sidebar .main_side ul.menu li:hover .material-icons {
  color: #f5f5f5;
  border-left-style: 2px solid #ccc;
}
.sidebar .side-menu ul.menu li:active {
  border-left: 2px solid #ccc;
  padding-left: -2px;
  
}

.sidebar .sub_side {
  background-color: #252526;
  width: 225px;
}

.sidebar .content {
  width: 100%;
}